<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jf.xyweather">

    <!-- add the network access -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".base.MyApplications"
        android:allowBackup="true"
        android:icon="@drawable/ic_xyweather_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- main module__start -->
        <!-- main interface -->
        <activity android:name=".main.MainActivity" />

        <!-- welcome interface -->
        <activity
            android:name=".main.WelcomeActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- main module__end -->

        <!-- weather page-->
        <activity
            android:name=".weatherpage.RealTimeWeatherActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
        </activity>

        <!-- city manage-->
        <activity android:name=".selectedcity.CityManageActivity" />

        <activity
            android:name=".dailyweather.SevenDayWeatherActivity"
            android:theme="@style/AppTheme.DailyWeatherVpi">
        </activity>

        <!-- air quality index-->
        <activity android:name=".airqualityindex.AqiActivity"/>

    </application>

</manifest>
